img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.product_images_main


.product_images_detail{
    list-style: none;
    display: inline-block;
}

.recent_list{
    display: inline-block;
    margin: 12px 18px;
    padding: 12px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    width: 225px;
    vertical-align: top;
    min-height: 100px;
    height: 100%;
}

#Product_detail_main {
    display: flex;
}
