h4.utc-time {
    color: #AA3333;
}

/*moved to base_app*/
/*#categories{*/
    /*list-style: none;*/
/*}*/

#product_list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.activeCat{
    font-weight: bolder;
    color: #7c312f;
}

.noBullets{
    list-style: none;
    display: inline-block;
}

.product_tile{
    display: inline-block;
    margin: 12px 18px;
    padding: 12px;
    border: 2px solid #cccccc;
    border-radius: 4px;
    width: 337px;
    vertical-align: top;
    min-height: 100px;
    height: 100%;
}

#previous_page, #next_page {
    cursor: pointer;
}

.li:active {
    font-weight: bold;
}

.active {
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
}

.a:active {
    font-weight: bolder;
    font-size: 25px;
    text-decoration: underline;
}
