.content {
    background-color: #2f8912;
}

.content_left {
    background-color: #7e3f9d;
}

.content_right {
    background-color: #165ba8;
}

.footer {
    background-color: #e38d13;
}

.content_top {
    background-color: springgreen;
}
