<%inherit file="base_app.html" />

<%block name="content">

##     Product images
    <div>
        <ul class="float-left">
            %for i in img:
                <li class="product_images_detail">
                    <img src="${i}" alt="Product Detail Image" class="img-fluid"/>
                </li>
            %endfor
        </ul>
    </div>

##     Main Product Image
    <div id="Product_detail_main">
        <ul class="float-left">
            <li class="product_images_main">
                <img src="${i}" alt="Main Product Detail Image" class="img-fluid"/>
            </li>
        </ul>
    ##     Text for the product
        <h1 id="Product_Name">${prod.name}</h1>
##         <h3>This ${prod.TITLE} is a ${prod.name}</h3>
        <p id="Product_Description">${prod.description}</p>
        %if prod.TITLE == 'BulkProduct':
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Quantity: ${prod.quantity}</label>
                <input class="form-control" placeholder="${prod.quantity}" id="inputDefault" type="text">
            </div>
        %endif
        <button type="button" class="btn btn-primary">Buy</button>
    </div>

</%block>

## float the small images (in 1 div or ul) to the very left of the block
## float the big picture right next to it
## let the text adjust by itself
