<%inherit file="base_app.html" />

<%block name="content">

##     Product images
    <div>
        <ul class="float-left">
            %for i in img:
                <li class="product_images_detail">
                    <img src="${prod.image_url()}" alt="Product Detail Image" class="img-fluid"/>
                </li>

            %endfor
        </ul>
    </div>

##     Main Product Image
    <div>
        <ul class="float-left">
            <li class="product_images_main">
                <img src="${prod.image_url()}" alt="Main Product Detail Image" class="img-fluid"/>
            </li>
        </ul>
    </div>

##     Text for the product
    <div id="product_info">
        <h1>${prod.name} |h}</h1>
        <h3>This ${prod.TITLE} is a ${prod.name}</h3>
        <h4>Random info here.</h4>
    </div>

</%block>

## float the small images (in 1 div or ul) to the very left of the block
## float the big picture right next to it
## let the text adjust by itself
