<%inherit file="base_app.html" />

<%block name="content_left">
    <h1>Categories</h1>
    <ul id="category_list">
        <li class="${ 'active' if category is None else '' }"><a href="/catalog/index/">All Products</a></li>
        % for c in cat:
##             <li><a href="/catalog/index/${ cat.id }">${ cat.name}</a></li>
            <li class="${ 'active' if category is None else '' }"><a href="/catalog/index/${ cat.id }">${ cat.name}</a></li>
        % endfor
    </ul>
</%block>

<%block name="content">
    <h1 class="text-center">${ 'Products' if category is None else category.name }</h1>

    <div id="paginator" class="text-right">
        <a id="previous page"></a>
        Page <span id="page_number">1</span> of ${ num_pages }
        <a id="next_page"></a>
    </div>

    <div id="catalog_container">
        <div id="catalog"></div>
    </div>
</%block>
