<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="content">

    S1 Demo
    <div id="s1container"></div>

##     <ul id="product_list">
##         <li class="product_tile">
##             <div class="title">Tire Swing</div>
##         </li>
##         <li class="product_tile">
##             <div class="title">Chocolate Milk</div>
##         </li>
##         <li class="product_tile">
## ##             <div><img ... </div>
##             <div class="title">Chocolate Iced, Chocolate Donut</div>
##         </li>
##     </ul>

</%block>
