<%inherit file="base_app.htm" />

<%block name="content">
    <div class="content">
        <h1>About Us</h1>
        <h2>Learn more about us here!</h2>
        <h3>The Family Oriented Music Organization is a family owned music store that’s been
            operating in Utah Valley since 1952.</h3>
        <h3>Here at FOMO, we're trying our best to help everyone. With that goal in mind,
            we're making our website accessible to ALL music lovers! We've made our site easy to
            use and accessible to everyone, you don't even need a mouse! With features like
            skipping to the main content, text descriptions for all images, and high contrast
            to make navigation easy, we're sure you'll find what you're looking for!</h3>
        <h3>“FOMO is a store that aims to satisfy the musical needs of musicians and budding
            musicians in the area. We provide instruments, accessories, repairs, sheet music,
            and training opportunities." <br>-Johan Anderson</h3>

    </div>
</%block>
