<%inherit file="base_app.htm" />

<%block name="content">
    <div class="content">
        <h3>About</h3>
        <h4>Learn more about us here!</h4>
        <h5>The Family Oriented Music Organization is a family owned music store that’s been operating in Utah Valley since 1952.</h5>
        <h5>“FOMO is a store that aims to satisfy the musical needs of musicians and budding musicians in the area. We provide instruments, accessories, repairs, sheet music, and training opportunities." <br>-Johan Anderson</h5>

    </div>
</%block>
