<%inherit file="base_app.htm" />

<%block name="content">
    <div class="content">
        <h3>FAQ</h3>
        <h4>See all of our Frequently Asked Questions here!</h4>
        <br>
        <h5>Question: What kind of instruments do you sell?<br>
            Answer: We sell woodwinds, brass, strings, percussion, and pretty much any instrument you can think of!
        </h5>
        <br>
        <h5>
            Question: Where are you located?<br>
            Answer: Our store is nice and close in the booming metropolis of Orem, Utah.
        </h5>
        <br>
        <h5>
            Question: What's the best instrument?<br>
            Answer: Nobody can resist an epic sax.
        </h5>
    </div>
</%block>
