<%inherit file="base_app.htm" />

<%block name="content_homepage">
    <div class="content_homepage">
        <h1>Welcome to Family Oriented Music Organization</h1>
        <h2><div class="text1">Please check out our wide variety of services and products!</div></h2>
##         style for text1 in index.css
        <div class="productListButton">
        <a href="/manager/productList/"><button type="button" class="btn btn-primary">See our Products!</button></a>
        </div>
    </div>
</%block>


<%block name="content_bottom">
    <div class="content_bottom">
        <h2><div class="text2">Here's what we do</div></h2>
        <h3><div class="text3">Lorem ipsum dolor sit amet, odio oblique electram vix id, et quo nibh debet commodo. Duo volutpat interesset scriptorem id, vix legere primis everti an, iudico ignota nominati et usu. Autem menandri eu cum. Viderer partiendo maluisset cu mel, cum nisl vitae nusquam et. Qui tempor vivendo ex, eripuit similique an cum. Ea choro sadipscing temporibus usu, doctus assueverit at duo. Ocurreret gloriatur te per.</div></h3>
    </div>
</%block>
