<%inherit file="base_app.htm" />

<%block name="content_top">
    <div class="content_top">
        <h3>Top Area.</h3>
        <h5>yo yo yo</h5>
    </div>
</%block>

<%block name="content">
    <div class="content">
        <h3>Middle Column.</h3>
        <h5>yo yo yo</h5>
    </div>
</%block>

<%block name="content_left">
    <div class="content_left">
        <h4>Left Column.</h4>
        <h5>yo yo yo yo</h5>
    </div>
</%block>

<%block name="content_right">
    <div class="content_right">
        <h4>Right Column.</h4>
        <h5>yo yo yo yo</h5>
    </div>
</%block>
